.react-datepicker__input-container > input {
    width: 100%;
    padding: 1rem 0.8rem;
    background-color: transparent;
    border: 1px solid #936f3a;
    border-radius: 4px;
    color: #4c3a1e;
}
